* {
  margin: 0;
  padding: 0;
}
  body {
    text-align: center;
  }
    input {
      margin: 1% 0%;
      padding: 0.3% 1%;
      width: 200px;
      height: 20px;

      font-size: 12pt;
      border: 1px solid #eee;
    }
      input:focus, input:hover {
        border: 1px solid #f00;
        outline: none;
      }

    li {
      display: inline-block;
      margin: 0.5% 0% 0% 0.5%;

      list-style: none;
    }
      .show {
        display: inline-block;
      }
      .hide {
        display: none;
      }

      a {
        text-decoration: none;
      }
        img {
          width: 150px;
          border: 3px solid transparent;
          cursor: pointer;
          border-radius: 5px;
          padding: 2px;
          vertical-align: middle;
        }
          img:hover {
            border: 3px solid #b55;
            box-shadow: 0 0 20px 0 rgba( 0, 0, 0, 0.3 );
          }
